body {
    font-family: Arial, Verdana;
    background: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}
h2 {
    font-size: 30px;
    color: #0d0d0d;
}
p {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
}
img {
    border: 10px dashed #FFFFFF;
    width: 250px;
    margin: auto;
    display: block;
}
div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red {
    margin-left: 50px;
    background-color: #ff0000;
    text-align: right; 
    border-bottom: 2px solid white;
    border-left: 5px solid white;
    border-top: none;
    border-right: none;
}
.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
    border-bottom: none;
    border-left: none;
}
.blue h2 {
    color: #c4c4c4;
}
.blue p {
    color: #c4c4c4;
}
.yellow {
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
    border-top: none;
    border-right: none;
}
.yellow p {
    color: #707070;
}
.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
    border-left: none;
    border-bottom: none;
}
footer {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff  70%, #000000 100%);
    border: 5px solid #FFFFFF;
}
footer p {
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
